[MASTER]
# Python code to execute, usually for sys.path manipulation such as pygtk.require().
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Disable false positives for PyQt6 imports and checks that are too strict for Qt applications
disable=no-name-in-module,too-few-public-methods

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

[BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,x,y,z,w,h

[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of attributes for a class
max-attributes=10

# Maximum number of boolean expressions in an if statement
max-bool-expr=5

# Maximum number of branch for function / method body
max-branches=12

# Maximum number of locals for function / method body
max-locals=20

# Maximum number of parents for a class
max-parents=7

# Maximum number of public methods for a class
max-public-methods=20

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of statements in function / method body
max-statements=50

# Minimum number of public methods for a class
min-public-methods=0
